{% extends 'adverts/base.html' %}
{% load static %}
{% block title %}
  Advert create
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="features">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    Название объявления<br>
                    {{form.title}}<br>
                    Описание<br>
                    {{form.description}}<br>
                    Дата<br>
                    {{form.date}}<br>
                    Адрес<br>
                    {{form.address}}<br>
                    Картинка<br>
                    {{form.image}}<br>
                    Цена<br>
                    {{form.price}}<br>
                    Состояние<br>
                    {{form.status}}<br>
                    Площадь<br>
                    {{form.area}}<br>
                    Этаж<br>
                    {{form.floor}}<br>
                    Год строения<br>
                    {{form.year_of_flat}}<br>
                    Город<br>
                    {{form.city}}<br><br>
                    <span>{{error}}</span>
                    <button type= "submit" class = "btn btn-primary">Добавить объявление</button>
                    <br><br>
                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}




<!-- <input type="text" name="title" placeholder="Название" class = "form-control"><br>
<textarea placeholder="Описание" class = "form-control"></textarea> <br>
<input type="datetime" name="title" placeholder="Дата объявления" class = "form-control"><br>
<input type="text" name="title" placeholder="Юрл" class = "form-control"><br>
<input type="text" name="title" placeholder="Профиль" class = "form-control"><br>
<input type="text" name="title" placeholder="Адрес" class = "form-control"><br>
<input type="text" name="title" placeholder="Изображение" class = "form-control"><br>
<input type="text" name="title" placeholder="Цена" class = "form-control"><br>
<input type="text" name="title" placeholder="Тип" class = "form-control"><br>
<input type="text" name="title" placeholder="Площаль" class = "form-control"><br>
<input type="text" name="title" placeholder="Этаж" class = "form-control"><br>
<input type="text" name="title" placeholder="Год" class = "form-control"><br>
<input type="text" name="title" placeholder="город" class = "form-control"><br> -->
