{% extends 'adverts/base.html' %}
{% load static %}
{% block title %}
  Registration
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="features">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}<br>
                    <button type= "submit" class = "btn btn-primary mt-4">Registration</button>
                    <br><br>
                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}